{% extends 'main.html' %}
{% block title %} Calculator {% endblock %}

{% block content %}
    <div id="v1">
        {% include 'views/calculator/v1.html' %}
    </div>
    <div id="v2" class="visually-hidden">
        {% include 'views/calculator/v2.html' %}
    </div>

{% if history %}
    <div class="card shadow col-7 mx-auto my-5">
        <div class="card-body container">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <h3 class="text-center">History <i class="fa-solid fa-clock-rotate-left"></i></h3>
                    <form action="" method="post" class="mb-4">
                        {% csrf_token %}
                        <input type="text" name="clear" hidden />
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </form>
                    <ul class="list-group">
                        {% for item in history %}
                            <li class="list-group-item">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}



{% block script %}{% endblock  %}

